.formTransfer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
  }
  
  .input_field {
    position: relative;
    margin: 15px 0;
  }
  
  .input_field label {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 30%;
    transform: translateY(-50%) translateX(-30%);
    color: rgb(119, 119, 119);
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
    text-align: justify;
  }
  
  .input_field .icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .input_field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    border-bottom: 2px solid rgb(119, 119, 119);
    padding-left: 30px;
    transition: border-bottom 0.3s ease;
  }
  
  .input_field input:focus {
    border-bottom: 2px solid #ffffff;
  }
  
  .input_field input:focus + label,
  .input_field input:valid + label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-150%) translateX(-30%);
    color: white;
  }
  
  .input_field input:focus ~ .icon,
  .input_field input:valid ~ .icon {
    opacity: 1;
  }
  
  .textarea_field {
    position: relative;
    margin: 15px 0;
  }
  
  .textarea_field label {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 30%;
    transform: translateY(-50%) translateX(-30%);
    color: rgb(119, 119, 119);
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
    text-align: justify;
  }
  
  .textarea_field textarea {
    width: 100%;
    height: 80px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    resize: none;
    padding: 10px;
    border-bottom: 2px solid rgb(119, 119, 119);
    transition: border-bottom 0.3s ease;
  }
  
  .textarea_field textarea:focus {
    border-bottom: 2px solid #ffffff;
  }
  
  .textarea_field textarea:focus + label,
  .textarea_field textarea:valid + label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-150%) translateX(-30%);
    color: white;
  }
  
  .transferButton button {
    background: #6495ed;
    width: 100%;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
  }