.backgroundAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: #232533;
  }

  /* Círculo 1 */
.circleOne {
    width: 250px;
    height: 250px;
    background-color: rgba(34, 0, 118, 0.334);
    filter: drop-shadow(0 0 20px rgba(131, 25, 163, 0.7));
    border-radius: 50%;
    position: absolute;
    animation: moveOne 8s infinite ease-in-out;
  }
  
  /* Círculo 2 */
  .circleTwo {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 40, 61, 0.383);
    filter: drop-shadow(0 0 20px rgba(0, 36, 101, 0.7));
    border-radius: 50%;
    position: absolute;
    animation: moveTwo 10s infinite ease-in-out;
  }

  /* Animação dos círculos */
@keyframes moveOne {
    0% {
      top: 10%;
      left: 15%;
    }
    50% {
      top: 50%;
      left: 75%;
    }
    100% {
      top: 10%;
      left: 15%;
    }
  }
  
  @keyframes moveTwo {
    0% {
      top: 80%;
      left: 70%;
    }
    50% {
      top: 30%;
      left: 20%;
    }
    100% {
      top: 80%;
      left: 70%;
    }
  }

.container {
background: rgba(0, 0, 0, 0.34);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.2px);
-webkit-backdrop-filter: blur(13.2px);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 1rem 1rem;
    color: white;
}

.navbar .avatarUser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatarUser svg {
    width: 100%;
    height: 100%;
}


.navbar .welcomeText {
    font-family: var(--main-font);
    font-size: 18px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.navbar .welcomeText span {
    color: rgb(119, 119, 119);
}

.dashContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.containerResponse {
    height: 40%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    @media (min-width: 768px) {
        flex-direction: row;
        height: 500px;
        align-items: center;
    }
}

.dashContent .cardContainer {
    padding: 1rem;
    height: 100%;
    margin: 1rem;
    @media (min-width: 768px) {
        flex: 1;
    }
}

.icons {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 768px) {
        width: 40%;
        height: 90%;
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 1rem; 
        padding: 1rem;
    }
}


.icons .icon {
    color: rgb(216, 216, 216);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(199, 199, 199, 0.507);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;

    @media (min-width: 768px) {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}

.transactions {
    padding: 1rem;
    height: 40%;
    margin: 1rem;
}

.transactions .transactionsNav {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    color: white;
}

.bottomNavigation {
    background-color: rgb(35, 35, 80);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.card .two, .card .three {
    position: absolute;
    animation: floating 5s infinite;
  }

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }