.card,
.cardChip {
  overflow: hidden;
  position: relative;
}

.card,
.cardChipTexture,
.cardTexture {
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.card {
  animation-name: rotate500;
  background-color: var(--primary);
  background-image: radial-gradient(circle at 100% 0%, hsla(0, 0%, 100%, 0.08) 29.5%, hsla(0, 0%, 100%, 0) 30%),
    radial-gradient(circle at 100% 0%, hsla(0, 0%, 100%, 0.08) 39.5%, hsla(0, 0%, 100%, 0) 40%),
    radial-gradient(circle at 100% 0%, hsla(0, 0%, 100%, 0.08) 49.5%, hsla(0, 0%, 100%, 0) 50%);
  border-radius: 0.5em;
  box-shadow: 0 0 0 hsl(0, 0%, 80%),
    0 0 0 hsl(0, 0%, 100%),
    -0.2rem 0 0.75rem 0 hsla(0, 0%, 0%, 0.3);
  color: hsl(0, 0%, 100%);
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.cardInfo,
.cardChipTexture,
.cardTexture {
  position: absolute;
}

.cardChipTexture,
.cardTexture {
  animation-name: texture;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
}

.cardInfo {
  font: 0.75em/1 "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.75rem;
  inset: 0;
}

.cardLogo,
.cardNumber {
  width: 100%;
}

.cardLogo {
  font-weight: bold;
  font-style: italic;
}

.cardChip {
  background-image: linear-gradient(hsl(0, 0%, 70%), hsl(0, 0%, 80%));
  border-radius: 0.2rem;
  box-shadow: 0 0 0 0.05rem hsla(0, 0%, 0%, 0.5) inset;
  width: 2.25rem;
  height: 2.25rem;
  transform: translate3d(0, 0, 0);
}

.cardChipLines {
  width: 100%;
  height: auto;
}

.cardChipTexture {
  background-image: linear-gradient(-80deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.6) 48% 52%, hsla(0, 0%, 100%, 0));
}

.cardType {
  align-self: flex-end;
  margin-left: auto;
}

.cardDigitGroup,
.cardExpDate,
.cardName {
  background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 85%) 15% 55%, hsl(0, 0%, 70%) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Courier Prime", monospace;
  filter: drop-shadow(0 0.05rem hsla(0, 0%, 0%, 0.3));
}

.cardNumber {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.cardValidThru,
.cardName {
  text-transform: uppercase;
}

.cardValidThru,
.cardExpDate {
  margin-bottom: 0.25rem;
  width: 50%;
}

.cardValidThru {
  font-size: 0.3rem;
  padding-right: 0.25rem;
  text-align: right;
}

.cardExpDate,
.cardName {
  font-size: 0.6rem;
}

.cardExpDate {
  padding-left: 0.25rem;
}

.cardName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 6.25rem;
}

.cardVendor,
.cardVendor:before,
.cardVendor:after {
  position: absolute;
}

.cardVendor {
  right: 0.375rem;
  bottom: 0.375rem;
  width: 2.55rem;
  height: 1.5rem;
}

.cardVendor:before,
.cardVendor:after {
  border-radius: 50%;
  content: "";
  display: block;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.cardVendor:before {
  background-color: #e71d1a;
  left: 0;
}

.cardVendor:after {
  background-color: #fa5e03;
  box-shadow: -1.05rem 0 0 #f59d1a inset;
  right: 0;
}

.cardVendorSr {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

.cardTexture {
  animation-name: texture;
  background-image: linear-gradient(-80deg, hsla(0, 0%, 100%, 0.3) 25%, hsla(0, 0%, 100%, 0) 45%);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 30%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
}

/* @keyframes rotate500 {
  from,
  to {
    animation-timing-function: ease-in;
    box-shadow: 0 0 0 hsl(0, 0%, 80%),
      0.1rem 0 0 hsl(0, 0%, 100%),
      -0.2rem 0 0.75rem 0 hsla(0, 0%, 0%, 0.3);
    transform: rotateY(-10deg);
  }

  25%,
  75% {
    animation-timing-function: ease-out;
    box-shadow: 0 0 0 hsl(0, 0%, 80%),
      0 0 0 hsl(0, 0%, 100%),
      -0.25rem -0.05rem 1rem 0.15rem hsla(0, 0%, 0%, 0.3);
    transform: rotateY(0deg);
  }

  50% {
    animation-timing-function: ease-in;
    box-shadow: -0.1rem 0 0 hsl(0, 0%, 80%),
      0 0 0 hsl(0, 0%, 100%),
      -0.3rem -0.1rem 1.5rem 0.3rem hsla(0, 0%, 0%, 0.3);
    transform: rotateY(10deg);
  }
}

@keyframes texture {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(-50%, 0, 0);
  }
} */
