/* PasswordStrengthInfo.module.css */
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que o popup esteja acima de outros elementos */
  }
  
  .popup {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px; /* Ajuste conforme necessário */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .popup button {
    margin-top: 10px;
    background-color: #007bff; /* Cor do botão */
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
  }
  