.profilePage {
  background: rgba(0, 0, 0, 0.34);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.2px);
  -webkit-backdrop-filter: blur(13.2px);
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 2rem 1rem;
  color: white;
}

.titleProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.titleProfile > h2 {
  font-family: var(--main-font);
  font-size: 24px;
  color: #ffffff;
  text-align: start;
}

.headerProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: #6495ed 1px solid;
  width: 100%;
  height: 40%;

  --s: 100px; /* control the size */
  --c1: #6495ed;
  --c2: #23323f;

  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
}

.headerContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(5px);
}

.iconProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.iconProfile svg {
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.headerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.headerText h5 {
  color: rgb(255, 255, 255);
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin-top: 2rem;
  gap: 1rem;
}

.profileOptions {
  position: absolute;
  bottom: 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  height: 65%;
}

.optionsTop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonsTop,
.buttonsBottom {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.optionButton {
  background-color: #ffffff; /* Cor do botão */
  color: rgb(0, 0, 0); /* Cor do texto */
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #868686;
  cursor: pointer; /* Mão ao passar o mouse */
  transition: background-color 0.3s; /* Transição suave */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
}

.optionButton svg {
  color: #a8a7a7; /* Cor do botão ativo */
} 

.optionButton:hover {
  background-color: #c8c8c8; /* Cor ao passar o mouse */
}

.logoutButton {
  background-color: #dc3545; /* Cor do botão de logout */
  color: white; /* Cor do texto */
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Transição suave */
}

.logoutButton:hover {
  background-color: #c82333; /* Cor ao passar o mouse */
}

.input_field {
  position: relative;
  margin: 15px 0;
}

.input_field label {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 30%;
  transform: translateY(-50%) translateX(-30%);
  color: rgb(119, 119, 119);
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
  text-align: justify;
}

.input_field .icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.input_field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  border-bottom: 2px solid rgb(119, 119, 119);
  padding-left: 30px;
  transition: border-bottom 0.3s ease;
}

.input_field input:focus {
  border-bottom: 2px solid #ffffff;
}

.input_field input:focus + label,
.input_field input:valid + label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-150%) translateX(-30%);
  color: white;
}

.input_field input:focus ~ .icon,
.input_field input:valid ~ .icon {
  opacity: 1;
}

.SaveProfile button {
  background: #6495ed;
  width: 100%;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
}


/* modalProfile.module.css */

.modalContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffffff; /* Cor do título */
  text-align: center; /* Centraliza o texto */
}

.contentBody {
  font-size: 16px;
  color: #dcdcdc; /* Cor do texto do corpo */
  line-height: 1.5; /* Espaçamento entre linhas */
}

.contentBody ul {
  list-style-type: disc; /* Estilo de lista */
  padding-left: 20px; /* Indentação para listas */
}

.contentBody ul li {
  margin-bottom: 10px; /* Espaçamento entre os itens da lista */
}

/* Botão de fechar */
.closeButton {
  background-color: transparent; /* Fundo transparente */
  border: none; /* Sem borda */
  color: #ffffff; /* Cor do botão */
  font-size: 20px; /* Tamanho do texto */
  cursor: pointer; /* Cursor em forma de mão */
  align-self: flex-end; /* Alinha à direita */
}

.closeButton:hover {
  color: #ffcc00; /* Cor ao passar o mouse */
}


/* 
.profile-header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}

.avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.profile-options {
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.profile-options button,
.profile-option {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background: none;
  border: none;
  width: 100%;
}

.profile-options button {
  font-weight: bold;
}

.profile-option span {
  font-size: 16px;
}

.profile-footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.profile-footer button {
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-footer button:hover {
  background-color: #555;
}
.profile-footer p {
  font-size: 11px;
}
.scrollable-container {
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .profile-header,
  .profile-options,
  .profile-footer {
    width: 100%;
    padding: 15px;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }

  .profile-option span {
    font-size: 14px;
  }
} */
